<%= form_for(@bio) do |f| %>
  <% if @bio.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(@bio.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @bio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :info %><br>
      <%= f.text_field :info, class: 'form-control' %>

      <%= f.label :body %><br>
      <%= f.text_area :body, rows: 15, cols: 150, class: 'form-control' %><br>
      
      <% if @bio.profile_pic.present? %>
        <%= image_tag @bio.profile_pic.url(:thumb) %><br/>
      <% end %>

      <%= f.label :profile_pic %>
      <%= f.file_field :profile_pic %><br>

      <%= f.submit 'Submit', class: "btn btn-primary" %>

    </div>
  </div>

<% end %>