<div>
	<h2><%= @bios_last.name %></h2>
	<h3><%= @bios_last.info %></h3>
	<p><%= markdown(@bios_last.body) %></p>
	<%= image_tag @bios_last.profile_pic.url(:medium).to_s %>
	<br>
</div>
<br>

<% if logged_in? %>
	<%= link_to 'Edit', edit_bio_path(@bios_last) %>
<% end %>