<%= form_for(@post) do |f| %>
  
  <%= render 'shared/errors' %>

  <div class="field form-group">
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :sub_heading %><br>
    <%= f.text_field :sub_heading %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 15, cols: 150 %>
  </div>
  <%= f.fields_for 'images_attributes[]', Image.new do |u| %>
    <% if @post.images.present? %>
      <% @post.images.each do |image| %>
        <%= image_tag image.photo.url(:thumb).to_s %>
        <%= image.caption %><br>
        <div class="field">
          <%= u.hidden_field :id %>
          <%= u.label :_destroy, "Delete Photo" %>
          <%= u.check_box :_destroy %>
        </div>
        <br>
      <% end %>
    <% end %>
    <div class="field">
      <%= u.label :photo %><br />
      <%= u.file_field :photo %>
      <br>
    </div>
    <div class="field">
      <%= u.label :caption %><br />
      <%= u.text_field :caption, cols: 150 %>
      <br>
    </div>
  <% end %>
  <div class="actions">
    <br>
    <%= f.submit 'Submit', :class => 'btn btn-default' %>
  </div>
<% end %>