<%= form_for(@post) do |f| %>
  
  <%= render 'shared/errors' %>

  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      
      <%= f.label :heading %>
      <%= f.text_field :heading, class: 'form-control' %>

      <%= f.label :sub_heading %>
      <%= f.text_field :sub_heading, class: 'form-control' %>

      <%= f.label :body %>
      <%= f.text_area :body, rows: 15, cols: 100, class: 'form-control' %>


      <%= f.fields_for :images do |u| %>

        <div id="border">

          <br>

          <%= u.label :photo %>
          <%= u.file_field :photo %>

          <br>

          <%= u.label :caption %>
          <%= u.text_field :caption, class: 'form-control' %>

          <br>

          <%= image_tag(u.object.photo.url(:thumb)) %>
          Delete: <%= u.check_box :_destroy %><br>

          <br>

        </div> 

      <% end %>

      <br>

      <%= f.submit 'Submit', class: "btn btn-primary"  %>

    </div>

  </div>

<% end %>