<%= form_for(@post) do |f| %>
  
  <%= render 'shared/errors' %>

  <div class="field form-group">
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :sub_heading %><br>
    <%= f.text_field :sub_heading %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 15, cols: 150 %>
  </div>
  <%= f.fields_for :images do |u| %>
    <div id="border">
      <br>
      <%= u.label :photo %><br>
        <%= image_tag(u.object.photo.url(:thumb)) %>
        Delete: <%= u.check_box :_destroy %>
      <div class="field">
        <%= u.file_field :photo %>
        <br>
      </div>
      <div class="field">
        <%= u.label :caption %>
        <%= u.text_field :caption %>
        <br>
        <br>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <br>
    <%= f.submit 'Submit', :class => 'btn btn-default' %>
  </div>
<% end %>