<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :sub_heading %><br>
    <%= f.text_field :sub_heading %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 15, cols: 150 %>
  </div>
  <% if @post.images.present? %>
    <% @post.images.each do |image| %>
      <%= image_tag image.photo.url(:thumb).to_s %>
    <% end %>
  <% end %>
  <%= f.fields_for :images, Image.new do |u| %>
    <div class="field">
        <%= u.label :photo %><br />
        <%= u.file_field :photo %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-default' %>
  </div>
<% end %>










