<p id="notice"><%= notice %></p>

<% posts.each do |post| %>
	<div class="jumbotron center" id="jumbo">
		<h2><%= post.heading %></h2>
		<h3><%= post.sub_heading %></h3>
		<p><%= simple_format(post.body, :sanitize => false) %></p>
		<div id="images_justify">
			<% post.images.each do |image| %>
			<figure id="image_thumb">
					<%= image_tag image.photo.url(:thumb).to_s %>
					<figcaption><%= image.caption %></figcaption>
				</figure>
			<% end %>
			<br>
	  	<br>
	  </div>
	  <div id="submit_button">
		<%= link_to "Click here to read more and comment", posts_path, class: "btn btn-lg btn-primary" %>
		</div>		
	</div>
<% end %>
<% if mobile_device? %>
	<div class="jumbotron center" id="jumbo">
		<%= link_to "Click here to see all posts", "posts/", class: "btn btn-lg btn-primary" %>
	</div>
<% end %>


