
<% provide(:title, "Post") %>

<div class="center jumbotron">
	<h2><%= @post.heading %></h2>
	<h3><%= @post.sub_heading %></h3>
	<p id="text_justify"><%= simple_format(@post.body, :sanitize => false) %></p>
	<% @post.images.each do |image| %>
		<figure id="figure_medium">
			<%= image_tag image.photo.url(:medium).to_s %>
			<figcaption id="figcaption"><%= image.caption %></figcaption>
		</figure>
	<% end %>
	<br>
	<%= link_to "Click here to comment", "posts/#{@post.id}/", class: "btn btn-lg btn-primary" %><br>
	<br>
	<%= link_to 'Show All Posts', posts_path %>
	<% if logged_in? %>
		| <%= link_to 'New', new_post_path %> |
		<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
</div>



