
<% provide(:title, "Post") %>

<div class="center jumbotron">
	<h2><%= @post.heading %></h2>
	<h3><%= @post.sub_heading %></h3>
	<p id="text_justify"><%= markdown(@post.body) %></p>
	<% @post.images.each do |image| %>
		<figure id="figure_medium">
			<%= image_tag image.photo.url(:medium).to_s %>
			<figcaption id="figcaption"><%= image.caption %></figcaption>
		</figure>
	<% end %>
	<br>
	<div class="fb-comments" data-href="<%= request.protocol + request.host_with_port + request.path %>" data-width="600" data-num-posts="10"></div>
	<br>
	<br>
	<br>
	<%= link_to "Click here to subscribe to my blog posts", new_subscriber_path, class: "btn btn-lg btn-primary" %>
	<br>
	<br>
	<%= link_to 'Show All Posts', posts_path %>
	<% if logged_in? %>
		| <%= link_to 'New', new_post_path %> |
		<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
</div>