<%= form_for(@detail) do |f| %>
  <% if @detail.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h4>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-default' %>
  </div>
<% end %>