<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Lood800</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'mobile' if mobile_device? %>
    <%= javascript_include_tag "https://js.stripe.com/v1/" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1063821653631736',
            xfbml      : true,
            version    : 'v2.3'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1063821653631736&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <%= render 'layouts/header' %>
  	<div class="container">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end -%>
    	<%= yield %>
    	<%= render 'layouts/footer' %>
    </div>
  </body>
</html>